@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

#cabecalho {
background-color: #911717;
padding: 32px;
}

#cabecalho h1 {
    margin: 0;
    color:white;
    text-align: center;
    text-transform: uppercase;
}

.container {
    width: 100%;
    max-width: 1130px;
    margin: 0 auto;
}

#Lista-pokemons {
    margin-top: 32px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2rem;
}

.pokemon {
    padding: 1.1rem;
    /*width: 275px;*/   
    /*float: left;*/
}

.pokemon:hover {
    cursor: pointer;
    opacity: 0.75;
}


.pokemon img {
    background-color: #F2F2F2;
    border-radius: 5px;
    width: 14rem;
    display: flex;
    margin: 0 auto;
    
}

.pokemon p.numero {
    font-weight: bold;
    color: #919191;
    margin-top: 3px;
    margin-bottom:12px;
}

.pokemon p.nome {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 6px; 
    margin-top: 0; 
}

.pokemon div.Lista-tipos {
    display: flex;
    flex-direction: row;
    gap: 4px;   
}

.tipo {
    width: 80px;
    border-radius: 3px;
    text-align: center;
    padding: 2px; 
}

.planta {
    background-color: #9BCC50;
    color:black;
}

.venenoso {
    background-color: #B97FC9;
    color: white;
}

.fogo {
    background-color: #fd7d24;
    color: white;
}

.voador {
    background-image: -webkit-linear-gradient(90deg, #BDB9B8 50%, #3DC7EF 50%);
}

.agua {
    background-color: #4592C4 ;
    color: white;
}

.inseto {
    background-color: #729F3F;
    color: white;
}

